In [1]:
# Imports

import pandas as pd
import numpy as np
import names
import random
import sys
import math

In [2]:
# Creating an empty dataframes with the features

def create_df(cols):
    '''
    cols: list of column names
    '''
    df = pd.DataFrame(columns=cols)
    return df

In [3]:
# Function that creates random names

def random_names(num):
    '''
    num: the number of names needed
    '''
    names_list = []
    for i in range(num):
        names_list.append(names.get_full_name())
    return names_list

In [4]:
# Function that creates random coordinates within a radius given a location

def random_coor(num, radius, center):
    '''
    num: number of coordinates needed
    radius: radius of desired area
    center: location to start from (center of desired area)
    '''
    
    coor = []         
    r = radius/111300
    x0, y0 = center 
    for i in range(num):
        u  = float(random.uniform(0.0,1.0))
        v = float(random.uniform(0.0,1.0))
        
        w = r * math.sqrt(u)
        t = 2 * math.pi * v
        x = w * math.cos(t) 
        y = w * math.sin(t)
        
        xLat  = x + x0
        yLong = y + y0
        coor.append((xLat,yLong))
    
    return coor

In [5]:
# Function that returns a list of random times given a start time

from random import randrange
import datetime 

def random_date(start,num):
    '''
    start: start date and time in datetime format
    num: number of dates needed
    '''
    
    t = []
    current = start
    for i in range(num):
        curr = current + datetime.timedelta(minutes=randrange(60), seconds=randrange(60))
        t.append(curr.strftime("%d/%m/%y %H:%M:%S"))
    return t

In [6]:
# Function that returns a list of random 11-digit numbers

from random import randint

def random_digits(num, digits=11):
    '''
    num: number of phone numbers needed
    digits: number of digits in each phone number (default is 11)
    '''
    
    phone = []
    for i in range(num):
        range_start = 10**(digits-1)
        range_end = (10**digits)-1
        phone.append(randint(range_start, range_end))
    
    return phone

In [7]:
# Function that returns a list of random binaries

def binary(num):
    '''
    num: number of entries needed
    '''
    return np.random.randint(2, size=num)

In [8]:
# Function that returns a list of random ints from 1 to 20

def random_ints(num):
    '''
    num: number of integers needed
    '''
    list_int = []
    for i in range(num):
        list_int.append(random.randint(1,12))
    
    return list_int

In [9]:
# Parameters

random.seed(0)
data_points=2000

In [10]:
# Creating the dataframe

p1_cols = ['time','name', 'street', 'phone', 'occupants', 'dangers', 'vacant', 'first_aid', 'water', 'food', 'message']
df = create_df(cols=p1_cols)

In [12]:
# Generating the data

## Time Data
startDate = datetime.datetime(2017, 9, 16,17,00)
df['time'] = random_date(start=startDate, num=data_points)

## Name data
df['name'] = random_names(num=data_points)

## Coordinates data
pr_coor = (18.238334,-66.530801)
pr_radius = 25000
df['street'] = random_coor(num=data_points, radius=pr_radius, center=pr_coor)

## Phone data
df['phone'] = random_digits(num=data_points)

## Occupants data
df['occupants'] = random_ints(num=data_points)

## Dangers, first aid, water, food, vacant data
for col in ['dangers', 'vacant', 'first_aid', 'water', 'food']:
    df[col] = binary(num=data_points)

In [13]:
# Viewing the dataframe

df.head()

,time,name,street,phone,occupants,dangers,vacant,first_aid,water,food,message
0,16/09/17 17:54:24,Clarence Manly,"(18.07567005863544, -66.41863020937275)",85194459733,5,1,1,0,1,1,NaN
1,16/09/17 17:48:56,Betty Jackson,"(18.28168669766055, -66.74334024902808)",72172986434,2,1,0,1,1,0,NaN
2,16/09/17 17:26:02,James Demarco,"(18.34793323121734, -66.72193554186062)",38221582206,2,0,0,1,1,0,NaN
3,16/09/17 17:16:32,Bryan Draper,"(18.05087580385643, -66.48562392439639)",95575988362,5,0,0,1,1,0,NaN
4,16/09/17 17:31:25,Gloria Steffen,"(18.08603968646708, -66.36661803786103)",74743985989,10,1,0,1,1,1,NaN